<p id="notice"><%= notice %></p>

<h1>Listing Users</h1>

<table align = "center">
  <thead>
    <tr>
      <th>Login</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
		<td><%= link_to user.login, user_path(user.id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
